@use '../../../styles/variables';
@use '../../../styles/mixins';

.sidebar__popular {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 35px;

    h3 {
        color: var(--color-dark);
    }

    .popular__car-card {
        
        .car-card__main {
        transition: all 0.2s ease-in;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}