@use '../../styles/mixins.scss';

.section-recommend__pagination {
    display: flex;
    width:  fit-content;
    height: 40px;
    font-size: 1rem;
    font-weight: bold;
    gap: 10px;

    .section-recommend__pagination-back,
    .section-recommend__pagination-page,
    .section-recommend__pagination-interval,
    .section-recommend__pagination-next {
        @include mixins.flex-center;

        background: var(--color-light);
        color: var(--color-dark);
        font-size: 1rem;
        cursor: pointer;
        width: 40px;
        height: 40px;
        border: solid 2px var(--color-gray-90);
        border-radius: 3px;

        &.active {
            background: var(--color-dark);  
            color: var(--color-light);
        }
    }
    .section-recommend__pagination-back  {
        color: var(--color-dark-20);
    }  
}