:root {
  --color-light: #FFFFFF;
  --color-dark: #000000;
  --color-dark-10: #232323;
  --color-dark-20: #171717;
  --color-gray: #666666;
  --color-gray-70: #999999;
  --color-gray-90: #E5E5E5;
  --color-blue: #4A90E2;
}