@use '../styles/main.scss';
@import '../styles/mixins.scss';

.vehicle-category {
    @include flex-center;

    position: absolute;
    left: 20px;
    top: 25px;
    font-size: 0.75rem;
    background: var(--color-blue);
    color: var(--color-light);
    width: 62px;
    height: 22px;
    border-radius: 3px;
    z-index: 1;
}