@use '../../styles/variables';
@use '../../styles/mixins';

.car-card {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .car-card__main {
        display: flex;
        position: relative;
        height: 200px; 
        width: 100%;

        cursor: pointer;
        transition: all 0.2s ease-in;
 

        .car-card__main-image {
            @include mixins.background-image;
 
            object-fit: cover;
            height: 200px; 
            width: 100%;
            border-radius: 5px;
        }

            .last-car-card__button,
            .first-car-card__button {
                position: absolute;
                cursor: pointer;
                right: -15px;
                top: 40%;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                border: none;
                font-size: 1.25rem;
                font-weight: bold;
            }

            .first-car-card__button  {
                left: -15px;
            }
    }

    .car-card__description {
        font-size: 1.25rem;
        font-weight: bold;
        color: var(--color-dark);  
        cursor: pointer;       
        transition: all 0.2s ease-in;

        &:hover {
            color: var(--color-blue);
        }
    }

    .car-card__information {
        color: var(--color-dark);
        transition: 0.3s all ease-in;
    }

    .car-card__author {
        color: var(--color-gray);
        font-size: 0.875rem;
        font-style: italic;
    }
}
